
.ipynb_checkpoints/defs-checkpoint.ipynb
.ipynb_checkpoints/defs-checkpoint.ipynb
.ipynb_checkpoints/Prova_Final_Resumo-checkpoint.ipynb
.ipynb_checkpoints/defs-checkpoint.ipynb
.ipynb_checkpoints/defs-checkpoint.ipynb
.ipynb_checkpoints/defs-checkpoint.ipynb
